
{% extends "base.html" %}

{% block title %}WWMSID - About Me{% endblock %}

{% block header%} <h1>About Me</h1> {% endblock %}


{% block content %}
<div class="content-container">
        <h2>Welcome!</h2>
        <p>My name is Christopher Willey. I am a multi-talented professional with a dynamic career spanning various industries, including diving, security, retail, geotechnical work, and content creation, mining, writer and others. Throughout my career, I’ve developed a unique blend of technical skills, leadership abilities, and a deep passion for learning.</p>

        <h2>Career Journey</h2>
        <p>At the end of my diving instructor carear I have trained and certified over 250 divers. My expertise extends to technical diving, specialty certifications, and equipment maintenance. Over the years, I’ve worked as a Divemaster, Instructor Trainer, and Dive Center Manager across multiple dive shops in Roatan, Honduras.</p>

        <p>In addition to diving, I have extensive experience in retail management, having served as Managers at Canadian Tire, Boart Longyear, Westburne Electric. These roles strengthened my customer service, sales, and leadership skills.</p>

        <p>I’ve also worked in geotechnical roles for mining companies, focusing on core sampling, and assisting geologists with operational needs.</p>


        <h2>Certifications and Skills</h2>
        <ul>
            <li><strong>Diving Certifications:</strong> PADI Master Instructor, Tec Deep Instructor, Freediving Instructor, and numerous specialty instructor certifications (e.g., Shark Ecology, Adaptive Techniques).</li>
            <li><strong>Professional Licenses:</strong> Alberta Class 4 Driver’s License, Manitoba Prospecting License, and Drone Pilot Certification.</li>
            <li><strong>Security and Safety:</strong> First Aid & CPR, Alberta Security Training, WHMIS, Fall Protection, Fire Safety, and Mental Health Awareness.</li>
            <li><strong>Technical Skills:</strong> Python programming, smart contract development (Cardano), HTML/CSS, social media management, and scuba equipment maintenance.</li>
        </ul>

        <h2>Personal Projects and Interests</h2>
        <p>In addition to my professional work, I’ve authored a book, <em>What Would My Scuba Instructor Do?</em>, which explores my experiences and insights from the world of scuba diving. I’m also considering starting a business for my home-grown chilies and enjoy hands-on projects, such as creating custom wire reels for drills.</p>

        <h2>Core Values</h2>
        <p>My approach to life and work is rooted in continuous learning, adaptability, and helping others. I strive to lead by example, whether I’m mentoring new divers, managing a retail team, or ensuring safety in a security role.</p>
    </div>

    </div>

    <div class="image-container">
        <img src="Photos/profile.jpg" alt="Profile Image" class="circular-image">
    </div>

    <div class="content-container">
        <h2>External Links about me</h2>

        <a href="https://www.facebook.com/WWMSID/">Facebook Page</a><br>
        <a href="https://www.divenewswire.com/lionfish-hunter-padi-specialty-course-highlights-safe-hunting-practices-on-roatan/">DiveWire Lionfish</a><br>
        <a href="https://www.thereminder.ca/local-news/ex-hapnot-student-now-battling-invasive-tropical-species-4139064">The Reminder Hapnot</a><br>
        <a href="https://www.deeperblue.com/padi-instructor-creates-lionfish-hunter-distinctive-specialty/">Deeper Blue Lionfish</a><br>
        <a href="https://www.divenewswire.com/fantasy-island-roatan-now-offers-advanced-padi-fish-id-specialty-course/">Divewire Advance Fish ID</a><br>
        <a href="https://payamag.com/2018/10/08/lionfish-pretty-but-dangerous-1/">Paya Magazine</a>

    </div>
<br>
<br>
<br>
{% endblock %}
