{% extends "base.html" %}

{% block title %}WWMSID - Gallery{% endblock %}

{% block header%} <h1>Welcome to the Gallery</h1> {% endblock %}


{% block content %}

    <div class="container">
        <section id="products" class="products">
            <div class="product">
                <img src="static/Gallery/1.JPG" alt="Product 1">
                <p>Dive Team.</p>
            </div>
            <div class="product">
                <img src="static/Gallery/2.jpg" alt="Product 2">
                <p>Lionfish Hunt with Pierre.</p>

            </div>
            <div class="product">
                <img src="static/Gallery/3.jpg" alt="Product 3">

                <p>IDC Completed</p>
            </div>
            <div class="product">
                <img src="static/Gallery/4.JPG" alt="Product 3">

                <p>Dive Briefing</p>

            </div>
            <div class="product">
                <img src="static/Gallery/5.JPG" alt="Product 2">

                <p>Dive Against Debris</p>

            </div>
            <div class="product">
                <img src="static/Gallery/6.JPG" alt="Product 1">
                <p>Dive Against Debris</p>

            </div>


            <div class="product">
                <img src="static/Gallery/7.JPG" alt="Product 3">

                <p>Dive Against Debris</p>
            </div>
            <div class="product">
                <img src="static/Gallery/8.JPG" alt="Product 3">
                <p>Dive Against Debris</p>
            </div>

            <div class="product">
                <img src="static/Gallery/9.JPG" alt="Product 3">
                <p>Dive Against Debris - with Pierre</p>
            </div>
            <div class="product">
                <img src="static/Gallery/10.JPG" alt="Product 3">

                <p>Dive Against Debris - with David</p>
            </div>





        </section>
    </div>
{% endblock %}
