{% extends "base.html" %}

{% block title %}WWMSID - Home{% endblock %}

{% block header%} <h1>What Would My Scuba Instructor Do?</h1> {% endblock %}


{% block content %}
<div class="content-container">
        <h2 class="banner">News</h2>
        <section>
            <p><strong>WWMSID: The second and final book is being written now and is planned to be available in 2025!</strong></p>
            <p><strong>WWMSID Crypto Tokens: WWMSID Tokens are available on Solana. <a href="crypto.html">Click Here</a> to find out more</strong></p>

        </section>
        <h2>Written by Christopher Willey</h2>
        <section>
            <h3>Get your own copy</h3>
            <img src="https://m.media-amazon.com/images/W/AVIF_800250-T1/images/I/71DQA4bdsIL._SY466_.jpg" alt="Book Cover"/>
            <br>
            <a href="https://www.audible.ca/pd/What-Would-My-Scuba-Instructor-Do-Audiobook/B099WCHRFC" class="button">Buy on Audible</a>
            <a href="https://www.amazon.ca/What-Would-My-Scuba-Instructor-ebook/dp/B08QG22KCZ" class="button">Buy on Amazon</a>
        </section>
        <section>
            <h3>Formats Available</h3>
            <p>Ebook <br>Audio Book<br> Paperback</p>
        </section>
        <section>
            <h3>Book Summary</h3>
            <p>Have you ever wondered what goes on behind the scenes of a Dive Shop or what it takes to become and work as a Scuba Diving Professional? This book is great for those who enjoy dive stories, jokes, and practical advice.</p>
        </section>
        <h2 class="banner">Upcoming News</h2>
        <section>
            <p><strong>WWMSID: The second book will be available in 2025!</strong></p>
        </section>
        <h2>External Links about me</h2>
        <ul>
            <li><a href="https://www.facebook.com/WWMSID/">Facebook Page</a></li>
            <li><a href="https://www.divenewswire.com/lionfish-hunter-padi-specialty-course-highlights-safe-hunting-practices-on-roatan/">DiveWire Lionfish</a></li>
            <li><a href="https://www.thereminder.ca/local-news/ex-hapnot-student-now-battling-invasive-tropical-species-4139064">The Reminder Hapnot</a></li>
            <li><a href="https://www.deeperblue.com/padi-instructor-creates-lionfish-hunter-distinctive-specialty/">Deeper Blue Lionfish</a></li>
            <li><a href="https://www.divenewswire.com/fantasy-island-roatan-now-offers-advanced-padi-fish-id-specialty-course/">Divewire Advance Fish ID</a></li>
            <li><a href="https://payamag.com/2018/10/08/lionfish-pretty-but-dangerous-1/">Paya Magazine</a></li>
        </ul>
        <br>
    </div>
{% endblock %}
