{% extends "base.html" %}


{% block title %}What Would My Scuba Instructor Do?{% endblock %}


{% block content %}
<section>
            <h2>About Us</h2>
            <p>Your go-to place for scuba diving knowledge and community support.</p>
        </section>

        <section>
            <h2>Get Started</h2>
            <p>Join us today to connect with fellow diving enthusiasts!</p>
            <a href="/register" class="button">Sign Up</a>
            <a href="/login" class="button">Sign In</a>
        </section>
{% endblock %}
