
{% extends "base.html" %}

{% block title %}WWMSID - Store{% endblock %}

{% block header%} <h1>WWMSID Store</h1> {% endblock %}


{% block content %}

<div class="container">
    <section id="products" class="products">
        <div class="product">
            <img src="static/Photos/lighter1.jpg" alt="Product 1">
            <h2>Zippo with Full Cover</h2>
            <p>Zippo lighters are known for their durability, reliability, and lifetime guarantee.</p>
            <h3>Price: $119.99</h3>
        </div>
        <div class="product">
            <img src="static/Photos/zippo1.jpg" alt="Product 2">
            <h2>Zippo WWMSID</h2>
            <p>Zippo lighters are known for their durability, reliability, and lifetime guarantee.</p>
            <h3>Price: $119.99</h3>
        </div>
        <div class="product">
            <img src="static/Photos/bluenew.JPG" alt="Product 3">
            <h2>Blue Alt Logo T-Shirt</h2>
            <p>T-Shirt Sizes S, M, L, XL</p>
            <h3>Price: 99.99</h3>
        </div>
        <div class="product">
            <img src="static/Photos/green shirt.PNG" alt="Product 3">
            <h2>Freedive Green T-Shirt</h2>
            <p>T-Shirt Sizes S, M, L, XL</p>
            <h3>Price: $99.99</h3>
        </div>
        <div class="product">
            <img src="static/Photos/shirt_blue.PNG" alt="Product 2">
            <h2>Freedive Blue T-Shirt</h2>
            <p>T-Shirt Sizes S, M, L, XL</p>
            <h3>Price: $119.99</h3>
        </div>
        <div class="product">
            <img src="static/Photos/greenlost.PNG" alt="Product 1">
            <h2>Logo 3 T-Shirt Green</h2>
            <p>T-Shirt Sizes S, M, L, XL</p>
            <h3>Price: $119.99</h3>
        </div>


        <div class="product">
            <img src="static/Photos/tshirt red.PNG" alt="Product 3">
            <h2>Orange Disc Golf T-Shirt</h2>
            <p>T-Shirt Sizes S, M, L, XL</p>
            <h3>Price: $99.99</h3>
        </div>
        <div class="product">
            <img src="static/Photos/yellowshirt.PNG" alt="Product 3">
            <h2>Yellow T-Shirt</h2>
            <p>T-Shirt Sizes S, M, L, XL</p>
            <h3>Price: $119.99</h3>
        </div>

        <div class="product">
            <img src="static/Photos/longsleve.JPG" alt="Product 3">
            <h2>Long Sleeve</h2>
            <p>Sizes S, M, L, XL</p>
            <h3>Price: $119.99</h3>
        </div>
        <div class="product">
            <img src="static/Photos/blackbottel.JPG" alt="Product 3">
            <h2>Product 3</h2>
            <p>Description of Product 3</p>
            <h3>Price: $119.99</h3>
        </div>
        <div class="product">
            <img src="static/Photos/mug.JPG" alt="Product 3">
            <h2>Product 3</h2>
            <p>Drink Coffee with our best Mug</p>
            <h3>Price: $89.99</h3>
        </div>

        <div class="product">
            <img src="static/Photos/waterbottel blue.JPG" alt="Product 3">
            <h2>Water Bottle</h2>
            <p>Description of Product 3</p>
            <h3>Price: $119.99</h3>

        </div>
        <div class="product">
            <img src="static/Photos/yellowhat.JPG" alt="Product 3">
            <h2>Hat Two-Tone</h2>
            <p>Truck Driver hat</p>
            <h3>Price: $109.99</h3>
        </div>
    </section>
</div>

{% endblock %}

